In [ ]:
# упражнение 2
#складывает соответствующие элементы соответствующих строк и стобцов

In [2]:
# упражнение 3
import pandas as pd
f = pd.read_csv("telecom_churn.csv")
print(f["Total day calls"].mean())

100.43564356435644

In [30]:
# упражнение 4
f.groupby(["State"]).agg({"Total day calls": "mean"}).loc['AZ']

Total day calls    100.109375
Name: AZ, dtype: float64

In [18]:
# упражнение 5
A=pd.DataFrame(f.groupby(["State"]).agg({"Total day calls": "mean"}))
A

       Total day calls
State
AK           95.269231
AL           99.100000
AR          102.145455
AZ          100.109375
CA          104.500000
CO           95.121212
CT           98.432432
DC          100.166667
DE           98.639344
FL          101.000000
GA          103.055556
HI          102.811321
IA          103.045455
ID          106.219178
IL          101.689655
IN          107.056338
KS          101.028571
KY          100.338983
LA          103.509804
MA          102.292308
MD           99.357143
ME           99.500000
MI          101.205479
MN           99.119048
MO           99.936508
MS          100.707692
MT           95.220588
NC          102.794118
ND          100.145161
NE           97.409836
NH           98.964286
NJ          100.102941
NM          102.241935
NV          101.424242
NY           98.240964
OH           99.628205
OK          100.262295
OR           95.730769
PA           98.644444
RI          100.430769
SC          102.466667
SD           94.816667
TN          101.452830
TX           99.986111
UT           98.958333
VA          105.363636
VT          100.328767
WA          101.196970
WI           96.679487
WV          103.783019
WY          102.220779

In [19]:
# упражнение 6
A[A["Total day calls"]>f["Total day calls"].mean()]

       Total day calls
State
AR          102.145455
CA          104.500000
FL          101.000000
GA          103.055556
HI          102.811321
IA          103.045455
ID          106.219178
IL          101.689655
IN          107.056338
KS          101.028571
LA          103.509804
MA          102.292308
MI          101.205479
MS          100.707692
NC          102.794118
NM          102.241935
NV          101.424242
SC          102.466667
TN          101.452830
VA          105.363636
WA          101.196970
WV          103.783019
WY          102.220779

In [21]:
#упражнение 7
B=pd.DataFrame(f.groupby(["State"]).agg({"Total day calls": "mean" , "Total eve calls": "mean"}))
B

       Total day calls  Total eve calls
State
AK           95.269231        96.576923
AL           99.100000        98.462500
AR          102.145455        97.836364
AZ          100.109375       102.406250
CA          104.500000       103.088235
CO           95.121212        98.166667
CT           98.432432        99.121622
DC          100.166667       101.981481
DE           98.639344        97.360656
FL          101.000000       108.920635
GA          103.055556       103.888889
HI          102.811321        98.849057
IA          103.045455        99.545455
ID          106.219178       100.054795
IL          101.689655       100.810345
IN          107.056338        97.943662
KS          101.028571       101.528571
KY          100.338983        98.237288
LA          103.509804        96.627451
MA          102.292308        98.230769
MD           99.357143        98.571429
ME           99.500000       104.596774
MI          101.205479       101.986301
MN           99.119048       101.642857
MO           99.936508       101.047619
MS          100.707692       100.200000
MT           95.220588        97.514706
NC          102.794118       103.941176
ND          100.145161       105.467742
NE           97.409836       103.590164
NH           98.964286        95.803571
NJ          100.102941       103.441176
NM          102.241935       102.983871
NV          101.424242        96.257576
NY           98.240964       100.024096
OH           99.628205       101.205128
OK          100.262295       104.278689
OR           95.730769        98.500000
PA           98.644444       101.622222
RI          100.430769        94.969231
SC          102.466667        99.783333
SD           94.816667        98.633333
TN          101.452830       103.754717
TX           99.986111       101.902778
UT           98.958333        98.027778
VA          105.363636        99.948052
VT          100.328767        97.671233
WA          101.196970        95.742424
WI           96.679487        99.538462
WV          103.783019        98.056604
WY          102.220779        99.233766

In [24]:
# упражнение 8
import numpy as np
w = np.array(B["Total day calls"] - B["Total eve calls"]) 
r =[]
for i in range(len(w)):
  if w[i] >= 0:
    w == True
    r.append("True")
  else: 
    w == False
    r.append("False")
B["comparison"] = r
B

       Total day calls  Total eve calls comparison
State
AK           95.269231        96.576923      False
AL           99.100000        98.462500       True
AR          102.145455        97.836364       True
AZ          100.109375       102.406250      False
CA          104.500000       103.088235       True
CO           95.121212        98.166667      False
CT           98.432432        99.121622      False
DC          100.166667       101.981481      False
DE           98.639344        97.360656       True
FL          101.000000       108.920635      False
GA          103.055556       103.888889      False
HI          102.811321        98.849057       True
IA          103.045455        99.545455       True
ID          106.219178       100.054795       True
IL          101.689655       100.810345       True
IN          107.056338        97.943662       True
KS          101.028571       101.528571      False
KY          100.338983        98.237288       True
LA          103.509804        96.627451       True
MA          102.292308        98.230769       True
MD           99.357143        98.571429       True
ME           99.500000       104.596774      False
MI          101.205479       101.986301      False
MN           99.119048       101.642857      False
MO           99.936508       101.047619      False
MS          100.707692       100.200000       True
MT           95.220588        97.514706      False
NC          102.794118       103.941176      False
ND          100.145161       105.467742      False
NE           97.409836       103.590164      False
NH           98.964286        95.803571       True
NJ          100.102941       103.441176      False
NM          102.241935       102.983871      False
NV          101.424242        96.257576       True
NY           98.240964       100.024096      False
OH           99.628205       101.205128      False
OK          100.262295       104.278689      False
OR           95.730769        98.500000      False
PA           98.644444       101.622222      False
RI          100.430769        94.969231       True
SC          102.466667        99.783333       True
SD           94.816667        98.633333      False
TN          101.452830       103.754717      False
TX           99.986111       101.902778      False
UT           98.958333        98.027778       True
VA          105.363636        99.948052       True
VT          100.328767        97.671233       True
WA          101.196970        95.742424       True
WI           96.679487        99.538462      False
WV          103.783019        98.056604       True
WY          102.220779        99.233766       True

In [28]:
# упражнение 9
G=np.array(f["International plan"])
p=0
for i in G:
    if i=="Yes":
        p+=1
K=p/len(G)
K

0.0969096909690969

In [29]:
# упражнение 10
Q=f["Area code"].unique()
len(Q)

3